<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins; color: auto;text-align: center;">Rutinas</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

      <!-- INICIO 1RA FILA-->

      <ion-row>

        <ion-col>
          <ion-card id="lunes" role="article" [routerLink]="['lunes']">
            <img alt="Llados" src="./../../../../assets/img/pierna.png" />
            <ion-card-header>
              <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
              <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder;">LUNES</ion-card-title>
            </ion-card-header>
            </ion-card>

        </ion-col>
        <ion-col>
          <ion-card role="article" [routerLink]="['martes']" >
            <img alt="Llados" src="./../../../../assets/img/pecho.png" />
            <ion-card-header>
              <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
              <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder;">MARTES</ion-card-title>
            </ion-card-header>
            </ion-card>


        </ion-col>


      </ion-row> 

      <!-- INICIO 2DA FILA-->

      <ion-row>

        <ion-col>
          <ion-card role="article" [routerLink]="['miercoles']">
            <img alt="Llados" src="./../../../../assets/img/hombro.png" />
            <ion-card-header>
              <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
              <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder;">MIERCOLES</ion-card-title>
            </ion-card-header>
          </ion-card>
          
        </ion-col>
        <ion-col>
          <ion-card role="article" [routerLink]="['jueves']" >
            <img alt="Llados" src="./../../../../assets/img/bicep.png" />
            <ion-card-header>
              <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
              <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder;">JUEVES</ion-card-title>
            </ion-card-header>
            </ion-card>

        </ion-col>

      </ion-row>

       <!-- INICIO 3RA FILA-->

       <ion-row >

        <ion-col>
          <ion-card role="article" [routerLink]="['viernes']" >
            <img alt="Llados" src="./../../../../assets/img/espalda.png" />
            <ion-card-header>
              <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
              <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder;">VIERNES</ion-card-title>
            </ion-card-header>
            </ion-card>

        </ion-col>
        <ion-col>
          <ion-card role="article" [routerLink]="['sábado']">
            <img alt="Llados" src="assets/img/abdominales.png" />
            <ion-card-header>
              <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
              <ion-card-title style="font-size: 18px;font-family: Poppins; text-align: center; font-weight: bolder;">SABADO</ion-card-title>
            </ion-card-header>
            </ion-card>
         
        </ion-col>

      </ion-row>

    </ion-grid>

</ion-content>
