<ion-header>  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"  style="font-size: 26px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-family:Poppins; text-align: center; " slot="start">Tus GymBros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-card  *ngFor="let usuario of usuarios; let i = index">
    <ion-item>
      <ion-label  >
        <ion-card-header style="font-family: Poppins; font-size: 18px;"><span style="color: #5b01b0; font-weight: 900;">Nombre:</span> {{usuario.nombre}}</ion-card-header>
        <ion-card-content style="font-family: Poppins; font-size: 18px;"><span style="color: #5b01b0; font-weight: 900;">Apellido:</span> {{usuario.apellido}}</ion-card-content>
        <ion-card-content style="font-family: Poppins; font-size: 18px;"><span style="color: #5b01b0; font-weight: 900;">Edad:</span> {{usuario.edad}}<span> años</span></ion-card-content>
        
      </ion-label>
    </ion-item>
  </ion-card>
  </ion-content>
  
