<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins">Login</ion-title> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content role="feed">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <img style="width: 100%; height:30%; padding-left:5%; padding-right:5%; padding-left:5%; margin-top: 6%;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/workout-gym-weight-training-bodybuilding-royalty-free-image-1589467772.jpg">

  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Correo" style="font-family:Poppins"></ion-input>
    </ion-item>
  
    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Contraseña" style="font-family:Poppins"></ion-input>
    </ion-item>

    <ion-button style="margin-left: 40%; margin-right:40%; margin-top: 4%; font-family:Poppins" color="medium" fill="outline" >Ingresar</ion-button>
  </ion-list>
 
</ion-content>


