<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins; color:black;">Login</ion-title> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content role="feed">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <div id="header">

    <img  src="https://us.123rf.com/450wm/tifani1/tifani11801/tifani1180100032/93016694-usuario-icono-de-ilustraci%C3%B3n-vectorial-sobre-fondo-negro.jpg" >

  </div>

  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="text-align: center;">
      <ion-input placeholder="Correo" style="font-family:Poppins; " ></ion-input>
    </ion-item>
  
    <ion-item style="text-align: center;" >
      <ion-input placeholder="Contraseña" style="font-family:Poppins; "></ion-input>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">

          <ion-button class="btn2" color="tertiary" expand="full" shape="round" >
            <ion-icon name="log-in-outline" slot="end"></ion-icon>

            Ingresar    
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-list>

  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder;">¿Aún no tienes cuenta?</ion-card-title>
  </ion-card-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">

        <ion-button class="btn2" color="tertiary" expand="full" shape="round" fill="outline" >
          <ion-icon name="log-out-outline" slot="end"></ion-icon>
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>


