<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins; color:auto;">Login</ion-title> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content class = "backgroundgrad" role="feed">
  
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <div id="header">

    <img  src="./../../../../assets/img/loginn.png" >

  </div>

  <ion-list  role="article" style="margin-top: 5%; background-color:transparent; " >
    <ion-item color="transparent" style="text-align: center; " lines="none">
      <ion-input  placeholder="Correo" style="font-family:Poppins; color: rgb(255, 255, 255); " ></ion-input>
    </ion-item>
  
    <ion-item color= "transparent "style="text-align: center; " lines="none" >
      <ion-input placeholder="Contraseña" style="font-family:Poppins; color:rgb(255, 255, 255) "></ion-input>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">

          <ion-button class="btn2" color="tertiary" expand="full" shape="round" style="color:#fff;" >
            <ion-icon name="log-in-outline" slot="end"></ion-icon>

            Ingresar    
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-list>

  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 18px;font-family: Poppins;text-align: center; font-weight: bolder; color: rgb(0, 0, 0);">¿Aún no tienes cuenta?</ion-card-title>
  </ion-card-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">

        <ion-button class="btn2" color="transparent" expand="full" shape="round" fill="outline" >
          <ion-icon name="log-out-outline" slot="end"></ion-icon>
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>


