<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins">Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 18px;font-family: Poppins;">INFORMACIÓN PERSONAL</ion-card-title>
  </ion-card-header>

  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Nombre" style="font-family:Poppins"></ion-input>
    </ion-item>
  
    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Apellido" style="font-family:Poppins"></ion-input>
    </ion-item>

    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Fecha nacimiento" style="font-family:Poppins"></ion-input>
    </ion-item>

    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Teléfono" style="font-family:Poppins"></ion-input>
    </ion-item>

  </ion-list>

  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 18px;font-family: Poppins;">INFORMACIÓN DE SEGURIDAD</ion-card-title>
  </ion-card-header>


  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Correo" style="font-family:Poppins"></ion-input>
    </ion-item>
  
    <ion-item style="margin-right: 8%;">
      <ion-input placeholder="Contraseña" style="font-family:Poppins"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button style="margin-left: 40%; margin-right:40%; margin-top: 4%; font-family:Poppins" color="medium" fill="outline" >Editar</ion-button>



</ion-content>
