.btn1{
    height: 62px;
    font-size: 18px;
    color: white;
    
}
/*
ion-content{
    --ion-background-color:#fff;
}
*/
ion-toolbar{
    --background:auto;
}


.backgroundgrad2{

    --background: linear-gradient(to left, rgb(102, 0, 254),#fff) ;
}


/*FONDO CON IMAGEN

.backgroundimg2{
    --background: url("./../../../../assets/img/musculoso4.jpg") 0 0/100% 100% no-repeat;
   
    
}

*/

/* CAMBIA COLOR PLACEHOLDER*/
ion-input{
    --placeholder-color:auto;
    --placeholder-opacity: 1;

    
    border-radius: 0px !important;
    padding-right: 30px;
    text-align: center;
    font-size: 1em;
    border: 1px solid #ffffff !important;
    --background: transparent !important;
    max-width: 50vw; 
    max-height: 10vh;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
        
       
}




