<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins">Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 22px;font-family: Poppins; text-align: center; font-weight: bolder; " >
      INFORMACIÓN PERSONAL
    </ion-card-title>
  </ion-card-header>

  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="text-align: center;">
      <ion-input placeholder="Nombre" style="font-family:Poppins"></ion-input>
    </ion-item>
  
    <ion-item style="text-align: center;">
      <ion-input placeholder="Apellido" style="font-family:Poppins"></ion-input>
    </ion-item>

    <ion-item style="text-align: center;">
      <ion-input placeholder="Fecha de nacimiento" style="font-family:Poppins"></ion-input>
    </ion-item>

    <ion-item style="text-align: center;">
      <ion-input placeholder="Teléfono" style="font-family:Poppins"></ion-input>
    </ion-item>

  </ion-list>

  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 22px;font-family: Poppins; text-align: center; font-weight: bolder;">
      INFORMACIÓN DE SEGURIDAD
    </ion-card-title>
  </ion-card-header>


  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="text-align: center;">
      <ion-input placeholder="Correo" style="font-family:Poppins;"></ion-input>
    </ion-item>
  
    <ion-item style="text-align: center;">
      <ion-input placeholder="Contraseña" style="font-family:Poppins;"></ion-input>
    </ion-item>
  </ion-list>

  

 

    <ion-grid fixed>

      <ion-row>
        <ion-col size="10" offset="1">

          <ion-button  class="btn1" color="tertiary" expand="full" shape="round">
            <ion-icon name="construct-outline" slot="end"></ion-icon>
            

            Editar
            
          </ion-button>



        </ion-col>
      </ion-row>
    </ion-grid>
    




</ion-content>
