<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins">Avisos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content role="feed">
  <ion-list>
  <ion-card role="article">
  <img alt="AumentoAranceles" src="./../../../../assets/img/cuotas.png" />
  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 18px;font-family: Poppins;">AUMENTO DE ARANCELES</ion-card-title>
  </ion-card-header>
  <ion-card-content style="font-size: 14px;font-family: Poppins;">
    Hemos decidido aumentar los aranceles en un 10% para enfrentar la inflación.
  </ion-card-content>
  </ion-card>
  </ion-list>

  <ion-list>
  <ion-card role="article">
  <img alt="Llados" src="./../../../../assets/img/profe.png" />
  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 18px;font-family: Poppins;">NUEVO PROFE INCORPORADO AL STAFF</ion-card-title>
  </ion-card-header>
  <ion-card-content style="font-size: 14px;font-family: Poppins">
    Llados es el nuevo profesor incorporado a nuestro equipo de profesionales.
  </ion-card-content>
  </ion-card>
  </ion-list>

  <ion-list>
    <ion-card role="article">
    <img alt="Calendario" src="./../../../../assets/img/fechas.png" />
    <ion-card-header>
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <ion-card-title style="font-size: 18px;font-family: Poppins;">MARTES 9/11 CERRADO</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 14px;font-family: Poppins">
     En esta fecha, la institución va a permanecer cerrarda debido a un feriado nacional.
    </ion-card-content>
    </ion-card>
    </ion-list>

    <ion-list>
      <ion-card style="font-family: Poppins;">
        <img alt="Boxeo" src="./../../../../assets/img/boxeo.png" />
        <ion-card-header>
          <ion-card-title style="font-size: 18px;font-family: Poppins" >INCORPORAMOS CLASES DE BOXEO</ion-card-title>
        </ion-card-header>
        <ion-card-content style="font-size: 14px;font-family: Poppins">
          A partir de el mes de noviembre se abrirán las inscripciones.
        </ion-card-content>
      </ion-card>
      </ion-list>
  

</ion-content>

