<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins">Sign-in</ion-title> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content role="feed">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 30px;font-family: Poppins;">Registrarse</ion-card-title>
  </ion-card-header>
  <form (ngSubmit)="guardar()">
  <ion-list role="article" style="margin-top: 5%;">
    <ion-item style="margin-right: 8%;">
      <ion-input type="text" placeholder="Nombre" style="font-family:Poppins" name="nombre" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>

    <ion-item style="margin-right: 8%;">
      <ion-input type="text" placeholder="Apellido" style="font-family:Poppins" name="apellido"[(ngModel)]="usuario.apellido"></ion-input>
    </ion-item>

    <ion-item style="margin-right: 8%;">
      <ion-input type="number" placeholder="Edad" style="font-family:Poppins" name="edad" [(ngModel)]="usuario.edad"></ion-input>
    </ion-item>

    <ion-item style="margin-right: 8%;">
      <ion-input type="number" placeholder="Teléfono" style="font-family:Poppins" name="telefono" [(ngModel)]="usuario.telefono"></ion-input>
    </ion-item>

    <ion-item style="margin-right: 8%;">
      <ion-input type="email" placeholder="Correo" style="font-family:Poppins" name="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
  
    <ion-item style="margin-right: 8%;">
      <ion-input type="password" placeholder="Contraseña" style="font-family:Poppins" name="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-button style="margin-left: 40%; margin-right:40%; margin-top: 4%; font-family:Poppins" color="medium" fill="outline" type="submit" >Registrarse</ion-button>
  </ion-list>
</form>
</ion-content>
