<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title style="font-family:Poppins; ">Sign-in</ion-title> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content role="feed">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <ion-card-header>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <ion-card-title style="font-size: 30px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0);">REGISTRARSE</ion-card-title>
  </ion-card-header>
  <form (ngSubmit)="guardar()">
  <ion-list role="article" style="margin-top: 5%;">

    <ion-card-title style="font-size: 15px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0);">Nombre</ion-card-title>
    <ion-item color="transparent" style=" text-align: center;" lines="none">
      <ion-input type="text" placeholder="Ingresar nombre" style="font-family:Poppins; color: rgb(255, 255, 255);" name="nombre" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>

    <ion-card-title style="font-size: 15px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0);">Apellido</ion-card-title>
    <ion-item color="transparent" style=" text-align: center;" lines="none">
      <ion-input type="text" placeholder="Ingresar apellido" style="font-family:Poppins;color: rgb(255, 255, 255);" name="apellido"[(ngModel)]="usuario.apellido"></ion-input>
    </ion-item>


<ion-card-title style="font-size: 15px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0); margin-right: 2%;">Edad</ion-card-title>
    <ion-item color="transparent" style=" text-align: center;" lines="none">
      <ion-input  min="1" type="number" placeholder="Edad" style="font-family:Poppins;color: rgb(255, 255, 255);" name="edad" [(ngModel)]="usuario.edad"></ion-input>
    </ion-item>

    <ion-card-title style="font-size: 15px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0);">Teléfono</ion-card-title>
    <ion-item  color="transparent" style=" text-align: center;" lines="none">
      <ion-input type="text" placeholder="Ingresar teléfono" style="font-family:Poppins;color: rgb(255, 255, 255);" name="telefono" [(ngModel)]="usuario.telefono"></ion-input>
    </ion-item>


    <ion-card-title style="font-size: 15px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0);">Email</ion-card-title>
    <ion-item color="transparent" style=" text-align: center;" lines="none">
      <ion-input type="email" placeholder="Ingresar correo" style="font-family:Poppins;color: rgb(255, 255, 255);" name="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

  <ion-card-title style="font-size: 15px;font-family: Poppins; text-align: center; font-weight: bolder;color: rgb(0, 0, 0);">Contraseña</ion-card-title>
    <ion-item color="transparent" style=" text-align: center;" lines="none">
      <ion-input type="password" placeholder="Ingresar contraseña" style="font-family:Poppins;color: rgb(255, 255, 255);" name="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>



    <div id="sign-up">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10" offset="1">
    
            <ion-button [routerLink]="['/']" class="btnsign" color="transparent" expand="full" shape="round" fill="outline" type="submit" >
              <ion-icon name="person-add-outline" slot="end"></ion-icon>
              Darme de alta
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> 
  </ion-list>
</form>
</ion-content>
